/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}

/* HOMEPAGE */

:root {
    --text-color: #E3E3E3;
    --subheading-color: #828282;
    --placeholder-color: #A6A6A6;
    --primary-color: #242424;
    --secondary-color: #383838;
    --secondary-hover-color: #444;
}

.light_mode {
    --text-color: #222;
    --subheading-color: #A0A0A0;
    --placeholder-color: #6C6C6C;
    --primary-color: #FFF;
    --secondary-color: #bcbec2;
    --secondary-hover-color: #9c9c9c;
}

.homepage {
    background: var(--primary-color);
}

.homepage .profile-dropdown {
    position: relative;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 1.5rem;
    padding-right: 3.5rem;
}

.homepage .dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary-color);
    border: none;
    color: var(--text-color);
    border-radius: 50%;
    height: 56px;
    width: 56px;
    cursor: pointer;
}

.homepage .dropdown-content {
    display: none;
    position: absolute;
    top: 100%; 
    left: auto; 
    right: 10px; 
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 20; 
    min-width: 150px;
    padding: 10px; 
    overflow: hidden;
    text-align: center;
}

.homepage .dropdown-content a {
    display: block;
    padding: 0.75rem 1rem;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
    transition: background-color 0.2s ease;
}

.homepage .profile-dropdown .dropdown-content a:hover {
    background-color: var(--secondary-hover-color);
    border-radius: 0.5rem;
}

.homepage .profile-dropdown:hover .dropdown-content, .homepage .profile-dropdown .dropdown-content:hover {
    display: block;
}


.homepage .header, .homepage .typing-area {
    color: var(--text-color);
}

.homepage .header, .chat-list .message, .homepage .typing-form{
    max-width: 1000px;
    margin: 0 auto;
}

.homepage .header {
    margin-top: 10vh;
    padding: 0.5rem;
    display: none;
}

.homepage .header .title {
    font-size: 2.7rem;
    width: fit-content;
    background-clip: text;
    background: linear-gradient(to right, #00BFFF, #FF1493);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.homepage .header .subtitle {
    font-size: 2.0rem;
    background: linear-gradient(to right, #FF4E50, #F9D423);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.homepage .suggestion-list {
    margin-top: 8.5vh;
    list-style: none;
    display: flex;
    gap: 1.2rem;
    overflow-x: auto;
    scrollbar-width: none;
}

.homepage .suggestion-list .suggestion {
    padding: 1.25rem;
    cursor: pointer;
    width: 227px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    border-radius: 0.75rem;
    background: var(--secondary-color)
}

.homepage .suggestion-list .suggestion:hover {
    background: var(--secondary-hover-color)
}

.homepage .suggestion-list .suggestion .text {
    font-weight: 400px;
}

.homepage .suggestion-list .suggestion .icon {
    height: 42px;
    width: 42px;
    font-size: 1.3rem;
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--primary-color);
}

.homepage .typing-area {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.homepage .typing-area :where(.homepage .typing-form, .homepage .action-buttons) {
    display: flex;
    gap: 0.75rem;
}

.homepage .typing-area .input-wrapper {
    height: 56px;
    width: 100%;
    display: flex;
    position: relative;
}

.homepage .typing-area .typing-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--text-color);
    border-radius: 6.2rem;
    padding: 1.1rem 4rem 1.1rem 1.5rem;
    background: var(--secondary-color);
}

.homepage .typing-area .typing-input:focus {
    background: var(--secondary-hover-color);
}

.homepage .typing-area .typing-input::placeholder {
    color: var(--placeholder-color);
}

.homepage .typing-area .icon {
    height: 56px;
    width: 56px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--secondary-color);
}

.homepage .typing-area .icon:hover {
    background: var(--secondary-hover-color)!important;
}

.homepage .typing-area .input-wrapper .icon {
    position: absolute;
    right: 0;
    outline: none;
    border: none;
    background: none;
    color: var(--text-color);
    transform: scale(0);
    transition: transform 0.2s ease;
}

.homepage .typing-area .input-wrapper .typing-input:valid ~ .icon {
    transform: scale(1);
}

.homepage .typing-area .disclaimer-text {
    font-size: 0.85rem;
    margin-top: 1.5rem;
    text-align: center;
    color: var(--placeholder-color);
    margin-bottom: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

/* LOGIN PAGE */
.login {
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login .login-container {
    background-color: var(--secondary-color);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

/* Title and subtitle styles */
.login .title {
    font-size: 2rem;
    text-align: center;
    background-clip: text;
    background: linear-gradient(to right, #00BFFF, #FF1493);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login .subtitle {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
    background: linear-gradient(to right, #FF4E50, #F9D423);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Form group styling */
.login .form-group {
    margin-bottom: 1.5rem;
}

.login .form-group .text {
    color: var(--text-color);
    font-size: 1rem;
    margin-bottom: 0.5rem;
    display: block;
}

/* Input field styling */
.login .typing-input {
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-radius: 1.5rem;
    font-size: 1rem;
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--text-color);
    background: var(--primary-color);

}

.login .form-group .typing-input:focus {
    background: var(--secondary-hover-color);
}

.login .form-group .typing-input::placeholder {
    color: var(--placeholder-color);
}

/* Bottom row of buttons (forgot password and submit) */
.login .bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Forgot password link */
.login .forgot-password {
    font-size: 0.5rem;
}

/* Login button styling */
.login .login-btn {
    padding: 0.8rem 1.5rem;
    background-color: #00BFFF;
    color: white;
    border: none;
    border-radius: 1.5rem;
    font-size: 1rem;
    cursor: pointer;
}

.login .login-btn:hover {
    background-color: var(--secondary-hover-color);
}

/* Register button styling */
.login .register-btn {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background-color: #FF1493;
    color: white;
    text-decoration: none;
    border-radius: 1.5rem;
    font-size: 1rem;
    text-align: center;
    margin-left: 1rem;
    border: none;
    outline: none;
}

.login .register-btn:hover {
    background-color: var(--secondary-hover-color);
}

.login .button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.error-popup {
    display: none;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 20px;
    background-color: #f44336;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
.error-popup.success {
    background-color: #4caf50;
}

/*Profile page*/
/*    --text-color: #E3E3E3;
    --subheading-color: #828282;
    --placeholder-color: #A6A6A6;
    --primary-color: #242424;
    --secondary-color: #383838;
    --secondary-hover-color: #444;
    */
.profile {
    background: var(--primary-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.profile-container {
    background-color: var(--secondary-color);
    border-radius: 1.5rem;
    width: 600px;
    box-sizing: border-box;
    padding: 100px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-picture img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

.profile .profile-container .text {
    color: var(--text-color);
}

.profile .profile-container .heading {
    color: var(--text-color);

}

.profile .username {
    margin-bottom: 20px;
}

.profile .bio h3 {
    font-size: 24px; 
    background-clip: text;
    background: linear-gradient(to right, #00BFFF, #FF1493);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.profile .bio  {
    font-size: 15px;
    padding-bottom: 20px;
}


.profile .contact-info h3 {
    font-size: 24px;
    background-clip: text;
    background: linear-gradient(to right, #00BFFF, #FF1493);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.profile .contact-info {
    padding-bottom: 20px;
    font-size: 15px;
}

.username h2 {
    font-size: 24px;
    background-clip: text;
    background: linear-gradient(to right, #FF4E50, #F9D423);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.profile .additional-hobbies h3 {
    font-size: 24px;
    background-clip: text;
    background: linear-gradient(to right, #00BFFF, #FF1493);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.profile .additional-hobbies {
    font-size: 15px;
}

.back-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    background: var(--secondary-color);
    border-radius: 50%;
    margin-right: 10px;
}

.back-button:hover {
    background-color: var(--secondary-hover-color);
}

/*CHAT LIST*/
.chat-list .outgoing .avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    align-self: flex-start;
}

.chat-list .incoming .avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    align-self: flex-start;
}

.chat-list {
    padding: 2rem 1rem 12rem;
    max-height: 100vh;
    overflow-y: auto;
}


.chat-list .message.incoming {
    margin-top: 1.5rem;
}

.chat-list .message .message-content {
    display: flex;
    gap: 1.5rem;
    width: 100%;
    align-items: center;
}

.chat-list .message .text {
    color: var(--text-color);
}

.chat-list .message .icon {
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 3.5rem;
    color: var(--text-color);
    border-radius: 50%;
    font-size: 1.25rem;
    visibility: hidden;
}

.chat-list .message .icon:hover {
    background: var(--secondary-color);
}

.chat-list .message:not(.loading):hover .icon {
    visibility: visible;
}

.chat-list .loading-indicator {
    display: none;
    width: 100%;
    gap: 0.8rem;
    flex-direction: column;
}

.chat-list .message.loading .loading-indicator {
    display: flex;
}

.chat-list .loading-indicator .loading-bar {
    height: 11px;
    width: 100%;
    background: linear-gradient(to right, #FF4E50,var(--primary-color), #F9D423);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        background-position: -800px 0;
    }

    100% {
        background-position: 800px 0;
    }
}

.chat-list .message.loading .text {
    display: none;
}

.chat-list .loading-indicator .loading-bar:last-child {
        width: 80%;
}

.chat-list .loading-indicator .loading-bar:nth-child(2) {
    width: 90%;
}

.chat-list .message.loading .avatar {
    animation: rotate 4s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}























